.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border: none;
    background: var(--button-background);
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background: color-mix(in srgb, var(--button-background) 90%, var(--color-primary));
    border-color: var(--color-primary);
}