#navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;

    background-color: var(--navbar-background);
    border-radius: var(--navbar-border-radius);
    box-shadow: var(--navbar-shadow);
}

#navbar #logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar h1 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--color-primary);
}

#navbar #logo small {
    font-size: 0.75rem;
    color: var(--color-syntax-comment);
}

#navbar nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}