#navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    background-color: var(--navbar-background);
    border-radius: var(--navbar-border-radius);
    box-shadow: var(--navbar-shadow);
}

#navbar h1 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--color-primary);
}