*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --color-primary: #1185FD;
  --color-secondary: #6b7280;
  --font-primary: 'Segoe UI', sans-serif;

  --navbar-height: 3rem;

  --editor-bg: #f9fafb;
  --editor-font: 'Courier New', monospace;
  --editor-font-size: 1rem;
  --editor-font-color: #111827;
  --editor-width: 1fr;
  --editor-padding: 1rem;
  
  --viewer-bg: #ffffff;
  --viewer-font: 'Arial', sans-serif;
  --viewer-font-size: 1rem;
  --viewer-font-color: #111827;
  --viewer-width: 1fr;
  --viewer-padding: 1rem;
}

[data-theme="dark"] {
  --color-primary: #60a5fa;
  --color-secondary: #c0c5ce;

  --editor-bg: #020617;
  --editor-font-color: #f9fafb;
  --viewer-bg: #0f172a;
  --viewer-font-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--navbar-height) 1fr;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: var(--editor-width) var(--viewer-width);
}