*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --color-primary: #3b82f6;
  --color-secondary: #6b7280;

  --editor-bg: #f9fafb;
  --editor-font: 'Courier New', monospace;
  --editor-font-size: 1rem;
  --editor-font-color: #111827;
  --editor-width: 1fr;
  --editor-padding: 1rem;
  
  --viewer-bg: #ffffff;
  --viewer-font: 'Arial', sans-serif;
  --viewer-font-size: 1rem;
  --viewer-font-color: #111827;
  --viewer-width: 1fr;
  --viewer-padding: 1rem;
}

[data-theme="dark"] {
  --color-primary: #60a5fa;
  --color-secondary: #c0c5ce;

  --editor-bg: #020617;
  --editor-font-color: #f9fafb;
  --viewer-bg: #0f172a;
  --viewer-font-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-template-columns: var(--editor-width) var(--viewer-width);
    height: 100vh;
}

#editor {
    background-color: var(--editor-bg);
    font-family: var(--editor-font);
    font-size: var(--editor-font-size);
    color: var(--editor-font-color);
    padding: var(--editor-padding);
}

#viewer {
    width: 50%;
    padding: var(--viewer-padding);
    overflow: auto;

    background-color: var(--viewer-bg);
    font-family: var(--viewer-font);
    font-size: var(--viewer-font-size);
    color: var(--viewer-font-color);

}

#preview > div {
    height: 100%;
}
